<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <link
      rel="icon"
      type="image/png"
      sizes="32x32"
      href="public/images/favicon-32x32.png"
    />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Space+Mono:wght@400;700&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="public/css/styles.css" />

    <title>Frontend Mentor | GitHub user search app</title>
  </head>
  <body>
    <div>devfinder Light Dark</div>
    <form>
      <input type="search" placeholder="Search GitHub username..." />
      <button type="submit">Search</button>
    </form>
    <main>
      <section class="profile_heading">
        <img class="profile_image" src="/public/images/octocat.png" />
        <div class="profile_details">
          <h1>The Octocat</h1>
          <a><h3>@octocat</h3></a>
          <p>Joined 25 Jan 2011</p>
        </div>
      </section>
      <section>
        <h2>
          Lorem ipsum dolor sit, amet consectetur adipisicing elit. Excepturi amet facilis
          error cupiditate libero pariatur laudantium harum autem. Placeat, sint nam
          repellat vero laudantium ab temporibus id assumenda libero corporis.
        </h2>
      </section>
      <summary>
        <table>
          <tr>
            <th>Repos</th>
            <th>Followers</th>
            <th>Following</th>
          </tr>
          <tr>
            <td>8</td>
            <td>3938</td>
            <td>9</td>
          </tr>
        </table>
      </summary>

      <section>
        <ul>
          <li>San Francisco</li>
          <li>https://github.blog</li>
          <li>Not Available</li>
          <li>@github</li>
        </ul>
      </section>
    </main>
  </body>
</html>
