<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <link
      rel="icon"
      type="image/png"
      sizes="32x32"
      href="public/images/favicon-32x32.png"
    />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Space+Mono:wght@400;700&display=swap"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      href="https://use.fontawesome.com/releases/v5.15.4/css/all.css"
      integrity="sha384-DyZ88mC6Up2uqS4h/KRgHuoeGwBcD4Ng9SiP4dIRy0EXTlnuz47vAwmeGwVChigm"
      crossorigin="anonymous"
    />
    <link rel="stylesheet" href="public/css/styles.css" />

    <title>Frontend Mentor | GitHub user search app</title>
  </head>
  <body>
    <section class="logo-mode">
      <h2 class="logo">devfinder</h2>
      <div class="mode">
        <p>DARK</p>
        <object data="/public/images/icon-moon.svg"></object>
      </div>
    </section>
    <form class="input-search">
      <object id="search-icon" data="/public/images/icon-search.svg"></object>
      <input type="search" placeholder="Search GitHub username..." />
      <button type="submit">Search</button>
    </form>
    <main>
      <section class="profile-heading">
        <img class="profile-image" src="/public/images/octocat.png" />
        <div class="profile-details">
          <div>
            <h1>The Octocat</h1>
            <a><h3>@octocat</h3></a>
          </div>
          <p>Joined 25 Jan 2011</p>
        </div>
      </section>

      <section class="profile-description">
        <h2>
          Lorem ipsum dolor sit, amet consectetur adipisicing elit. Donec odio. Quisque
          voluptat mattis eros.
        </h2>
      </section>

      <section class="profile-summary">
        <table>
          <tr>
            <th>Repos</th>
            <th>Followers</th>
            <th>Following</th>
          </tr>
          <tr>
            <td>8</td>
            <td>3938</td>
            <td>9</td>
          </tr>
        </table>
      </section>

      <section class="profile-contact-details">
        <div class="icons">
          <object data="/public/images/icon-location.svg"></object>
          <object data="/public/images/icon-website.svg"></object>
          <object class="not-available" data="/public/images/icon-twitter.svg"></object>
          <object data="/public/images/icon-company.svg"></object>
        </div>
        <ul>
          <li>San Francisco</li>
          <li>https://github.blog</li>
          <li class="not-available">Not Available</li>
          <li>github</li>
        </ul>
      </section>
    </main>
  </body>
</html>
