* {
  box-sizing: border-box;
}

html {
  font-family: 'Space Mono', monospace;
  font-size: 10px;
}

:root {
  --darkBackground: #141d2f;
  --darkComponentBackground: #1e2a47;

  --lightBackground: #f6f8ff;
  --lightComponentBackground: #fff;
  --lightFontColor: #4b6a9b;
}

.dark-mode-body {
  color: #fff;
  background-color: var(--darkBackground);
}
.dark-mode-component {
  background-color: var(--darkComponentBackground);
}

body {
  background-color: var(--lightBackground);
  text-align: center;
  margin: 0 auto;
  padding: 2.4rem;
}

.logo-mode {
  display: flex;
  justify-content: space-between;
}

.logo {
  font-size: 2.6rem;
  line-height: 3.9rem;
  font-weight: 700;
  margin: 0;
}

.mode {
  display: flex;
  align-items: center;
  gap: 1.6rem;
}

.mode p {
  font-size: 1.3rem;
  font-weight: 700;
  color: var(--lightFontColor);
  letter-spacing: 2.5px;
  margin: 0;
  margin-block-start: 0;
  margin-block-end: 0;
}

form.input-search {
  background-color: var(--lightComponentBackground);
  border-radius: 15px;
  margin-top: 3.6rem;
  filter: drop-shadow(0px 16px 30px rgba(70, 96, 187, 0.1986));
  padding-left: 1.6rem;
  padding-right: 0.7rem;
  padding-top: 0.6rem;
  padding-bottom: 0.75rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.input-search object svg {
  width: 20px;
  height: 20px;
}

.input-search input {
  width: 56%;
  border: none;
  color: var(--lightFontColor);
  height: 25px;
}

.input-search button {
  width: 25%;
  height: 4.6rem;
  color: #fff;
  background-color: #0079ff;
  box-shadow: none;
  filter: none;
  border: none;
  border-radius: 10px;
  font-weight: 700;
  font-size: 1.4rem;
  line-height: 2.1rem;
  font-family: 'Space Mono', monospace;
}

main {
  padding: 3.1rem 2.4rem 8rem 2.4rem;
  background-color: #fefefe;
  border-radius: 1.5rem;
  margin-top: 1.6rem;
  filter: drop-shadow(0px 16px 30px rgba(70, 96, 187, 0.1986));
}

.profile-heading {
  display: flex;

  text-align: left;
}

.profile-image {
  width: 70px;
  border-radius: 50%;
}

.profile-details {
  display: flex;
  flex-direction: column;
  margin-left: 1.9rem;
  justify-content: space-between;
}

.profile-heading h1 {
  font-size: 1.6rem;
  line-height: 2.4rem;
  font-weight: 700;
  margin: 0;
  color: #2b3442;
}
.profile-heading h3 {
  color: #0079ff;
  font-size: 1.3rem;
  line-height: 1.9rem;
  margin: 0;
}

.profile-heading p {
  margin: 0;
  color: #697c9a;
  font-size: 1.3rem;
  line-height: 1.9rem;
}

.profile-description {
  margin-top: 3.3rem;
}
.profile-description h2 {
  font-size: 1.3rem;
  line-height: 2.5rem;
  text-align: left;
  color: #4b6a9b;
  margin: 0;
  font-weight: 400;
}

.profile-summary {
  background-color: var(--lightBackground);
  padding: 1.5rem 1.8rem;
  text-align: center;
  display: flex;
  justify-content: center;
  border-radius: 1rem;
  margin-top: 2.3rem;
}

.profile-summary table {
  width: 100%;
}

.profile-summary table th {
  font-weight: 400;
  font-size: 1.2rem;
  line-height: 1.6rem;
  color: var(--lightFontColor);
}
.profile-summary table td {
  font-weight: 700;
  font-size: 1.6rem;
  line-height: 2.4rem;
}

.profile-contact-details {
  margin-top: 2.4rem;
  display: flex;
  gap: 1.3rem;
}

.icons {
  display: flex;
  flex-direction: column;
  gap: 1.6rem;
}

.profile-contact-details ul {
  display: flex;
  flex-direction: column;
  gap: 1.6rem;
  list-style-type: none;
  margin: 0;
  padding: 0;
  text-align: left;
  color: #4b6a9b;
  font-size: 1.3rem;
  line-height: 1.9rem;
}

.not-available {
  opacity: 0.5;
}

.github-icon {
  background-image: url('images/icon-company.svg');
  width: 19px;
}
