* {
  box-sizing: border-box;
}

html {
  font-family: 'Space Mono', monospace;
  font-size: 10px;
}

:root {
  --darkBackground: #141d2f;
  --darkComponentBackground: #1e2a47;
  --lightBackground: #f6f8ff;
  --lightComponentBackground: #fff;
  --lightFontColor: #4b6a9b;
  --c: #4b6a9b;
}

body {
  background-color: var(--lightBackground);
  text-align: center;
  margin: 0 auto;
  padding: 2.4rem;
}

a {
  text-decoration: none;
  color: inherit;
}

.logo-mode {
  display: flex;
  justify-content: space-between;
}

.logo {
  font-size: 2.6rem;
  line-height: 3.9rem;
  font-weight: 700;
  margin: 0;
}

.mode {
  display: flex;
  align-items: center;
  gap: 1.6rem;
}

.mode:hover {
  cursor: pointer;
}

.mode:hover > .modeText {
  color: black;
}
.mode:hover > #modeImg {
  filter: brightness(0);
}

.mode.dark-mode-body:hover > .modeText {
  color: #4b6a9b;
}
.mode.dark-mode-body:hover > #modeImg {
  filter: invert(40%) sepia(24%) saturate(989%) hue-rotate(178deg) brightness(91%)
    contrast(85%);
}

.modeText {
  font-size: 1.3rem;
  font-weight: 700;
  color: var(--lightFontColor);
  letter-spacing: 2.5px;
  margin: 0;
  margin-block-start: 0;
  margin-block-end: 0;
  transition: all 0.7s;
}

#modeImg,
.modeText,
button {
  transition: all 0.7s;
}

.input-search {
  background-color: var(--lightComponentBackground);
  border-radius: 15px;
  margin-top: 3.6rem;
  filter: drop-shadow(0px 16px 30px rgba(70, 96, 187, 0.1986));
  padding-left: 1.6rem;
  padding-right: 0.7rem;
  padding-top: 0.6rem;
  padding-bottom: 0.75rem;
  display: grid;
  grid-template-columns: 20px 1fr 25%;
  gap: 0.7rem;
  align-items: center;
}

.input-search object svg {
  width: 20px;
  height: 20px;
}

.input-search input {
  border: none;
  color: black;
  font-family: 'Space Mono', monospace;
  height: 25px;
  font-size: 1.3rem;
  line-height: 2.5rem;
  position: relative;
}

*:focus {
  outline: none;
}

::placeholder {
  color: var(--c);
  font-size: 1.2rem;
  line-height: 2.5rem;
  font-family: 'Space Mono', monospace;
}

.input-search button {
  height: 4.6rem;
  color: #fff;
  background-color: #0079ff;
  box-shadow: none;
  filter: none;
  border: none;
  border-radius: 10px;
  font-weight: 700;
  font-size: 1.4rem;
  line-height: 2.1rem;
  font-family: 'Space Mono', monospace;
}

.input-search button:hover {
  background-color: #60abff;
  cursor: pointer;
}

input[type='search']::-webkit-search-decoration,
input[type='search']::-webkit-search-cancel-button,
input[type='search']::-webkit-search-results-button,
input[type='search']::-webkit-search-results-decoration {
  -webkit-appearance: none;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
    transition: background-color 5000s ease-in-out 0s;
}

input[type='search'] {
  background-color: transparent;
}

.not-found {
  color: #F74646;
  font-weight: 700;
  font-size: 1.5rem;
  line-height: 2.2rem;
  position: absolute;
  right: 30%;
}

input:focus,
input:active {
  background-color: transparent;
}

input:-internal-autofill-selected {
  background-color: transparent !important;
  color: inherit;
}



main {
  padding: 3.1rem 2.4rem 8rem 2.4rem;
  background-color: #fefefe;
  color: #4b6a9b;
  border-radius: 1.5rem;
  margin-top: 1.6rem;
  filter: drop-shadow(0px 16px 30px rgba(70, 96, 187, 0.1986));
}

#profile-image-desktop {
  display: none;
  border-radius: 50%;
  width: 117px;
}

.profile-heading {
  display: flex;

  text-align: left;
}

.profile-image {
  width: 70px;
  border-radius: 50%;
}

.profile-details {
  display: flex;
  flex-direction: column;
  margin-left: 1.9rem;
  justify-content: space-between;
}

.profile-heading h1 {
  font-size: 1.6rem;
  line-height: 2.4rem;
  font-weight: 700;
  margin: 0;
  color: #2b3442;
}
.profile-heading h3 {
  color: #0079ff;
  font-size: 1.3rem;
  line-height: 1.9rem;
  margin: 0;
}

.profile-heading p {
  margin: 0;
  color: #697c9a;
  font-size: 1.3rem;
  line-height: 1.9rem;
}

.profile-description {
  margin-top: 3.3rem;
}
.profile-description h2 {
  font-size: 1.3rem;
  line-height: 2.5rem;
  text-align: left;
  margin: 0;
  font-weight: 400;
}

.profile-summary {
  background-color: var(--lightBackground);
  padding: 1.5rem 1.8rem;
  text-align: center;
  display: flex;
  justify-content: center;
  border-radius: 1rem;
  margin-top: 2.3rem;
}

.profile-summary table {
  width: 100%;
}

.profile-summary table th {
  font-weight: 400;
  font-size: 1.2rem;
  line-height: 1.6rem;
}
.profile-summary table td {
  font-weight: 700;
  font-size: 1.6rem;
  line-height: 2.4rem;
  color: black;
}
.profile-contact-details {
  display: flex;
  flex-direction: column;
  gap: 1.6rem;
  margin: 0;
  padding: 0;
  margin-top: 2.4rem;
  text-align: left;
  /* color: #4b6a9b; */
  font-size: 1.3rem;
  line-height: 1.9rem;
}
.icon-information {
  display: flex;
  align-items: center;
  gap: 1.6rem;
}
.icon-information i {
  width: 20px;
  display: flex;
  align-items: center;
}
.icon-information p {
  margin: 0;
}

.icon-information p:hover {
  cursor: pointer;
}
#link:hover {
  text-decoration: underline;
}

.not-available {
  opacity: 0.5;
}

.dark-mode-body {
  background-color: var(--darkBackground);
  color: #fff;
}
.dark-mode-component {
  background-color: var(--darkComponentBackground);
  color: #fff;
}
.dark-mode-icons {
  filter: brightness(0) invert(1);
}

.dark-mode-component h1,
.dark-mode-component p,
.dark-mode-component table td,
.dark-mode-component input,
.dark-mode-component input:-webkit-autofill:focus {
  color: #fff;
  -webkit-text-fill-color: #fff;
} 

@media (min-width: 600px) {
  body {
    padding: 13.6% 12.8%;
  }

  .input-search {
    padding: 0.95rem 1rem 0.95rem 3.2rem;
    gap: 2.4rem;
  }

  .input-search button {
    height: 5rem;
    width: 106px;
    justify-self: end;
  }

  .input-search input,
  ::placeholder {
    font-size: 1.8rem;
    line-height: 2.5rem;
  }

  main {
    padding: 4rem;
  }
  .profile-image {
    width: 117px;
  }

  .profile-heading {
    align-items: center;
  }
  .profile-details {
    display: block;
    margin-left: 4.1rem;
  }

  .profile-details h1 {
    font-size: 2.6rem;
    line-height: 3.9rem;
  }
  .profile-details h3 {
    font-size: 1.3rem;
    line-height: 1.9rem;
  }
  .profile-details p {
    font-size: 1.5rem;
    line-height: 2.2rem;
    margin-top: 4px;
  }
  .profile-contact-details {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-top: 3rem;
    font-size: 1.5rem;
    line-height: 2.2rem;
  }

  .profile-contact-details :nth-child(1) {
    order: 0;
  }
  .profile-contact-details :nth-child(2) {
    order: 2;
  }
  .profile-contact-details :nth-child(3) {
    order: 1;
  }
  .profile-contact-details :nth-child(4) {
    order: 2;
  }

  .profile-description h2 {
    font-size: 1.5rem;
  }

  .profile-description {
    margin-top: 2.4rem;
  }

  .profile-summary {
    margin-top: 3.2rem;
    padding-left: 3.2rem;
  }

  .profile-summary table {
    text-align: left;
  }

  .profile-summary table td {
    font-size: 2.2rem;
    line-height: 3.2rem;
    padding: 0;
  }
  .profile-summary table th {
    font-size: 1.3rem;
    line-height: 1.9rem;
    padding: 0;
  }

  .not-found {
    right: 21%;
  }
}

@media (min-width: 1000px) {
  body {
    padding: 10% 18%;
  }

  main {
    display: flex;
    align-items: flex-start;
    padding: 4.8rem;
  }
  button {
    max-width: 106px;
  }
  #profile-image-desktop {
    display: block;
  }
  #profile-image-mobile {
    display: none;
  }
  .global-details {
    margin-left: 3.7rem;
  }
  .profile-details {
    margin-left: 0;
    width: 100%;
    display: flex;
    flex-direction: row;
  }
  .profile-description {
    margin-top: 2rem;
  }
  .profile-contact-details {
    margin-top: 3.7rem;
  }
}
